  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="active">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
          </ul>
        </ng-container>
      </div>

      <div class="btn-group" dropdown *ngIf="(accountService.currentUser$ | async) as user">
        <button id="button-basic" dropdownToggle type="button" class="btn  dropdown-toggle"
                aria-controls="dropdown-basic">
          Welcome {{user.username | titlecase}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logOut()">LogOut</a></li>
        </ul>
      </div>
      <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
        <input class="form-control me-2" type="text" placeholder="UserName" name="userName" [(ngModel)]="model.username" />
        <input class="form-control me-2" type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
</nav>
